Index
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de Aceite</title>
    <link rel="stylesheet" href="Static/style.css">
</head>
<body>
    <!-- LADO ESQUERDO -->

        <img src="Static/npsimagem.png" id="npsimg" class="tablet-img" alt="Imagem de tablet">
    <!-- LADO DIREITO -->
    <div class="right">
        <h2 class="title">TERMO DE ACEITE E<br>ENTREGA DE SERVIÇOS</h2>
        <h3 class="subtitle">UNIDADE MÓVEL DE SAÚDE</h3>

        <div class="buttons-container">
            <a href="/termo" class="option green-box">
                <img src="Static/check-white.png"  class="icone">
                <span>Termo de aceite</span>
            </a>

            <a href="/ressalvas" class="option blue-box">
                <img src="Static/check-blue.png"
                
                
                 class="icone">
                <span>Ressalva</span>
            </a>

            <a href="/nps" class="option orange-box">
                <img src="Static/check-orange.png" class="icone">
                <span>NPS</span>
            </a>
        </div>
    </div>
    <img id="logo" src="Static/LogoFlex.png" class="logo1">

    <img id="Logo" src="Static/LogoFlex2.png" class="logo2">

    


</body>
<!-- ÍCONE ADMIN -->
<a href="/login" class="admin-btn">
    <img src="Static/admin.png" alt="Admin">
</a>
</html>

